<!-- Tela de Login dos Usuarios Cadastrados -->

<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 p-0">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">

                    <h1 class="text-center mb-3 cb"> Entrar</h1>


                    <div>
                        <app-login></app-login>
                    </div>

                    <hr class="mt-4 mb-3">
                    <p class="text-center">Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a></p>
                
                </div>
            </div>
        </div>

        <div class="col-md-6 sombra" id="img-bg">
            <div class="row fundo"></div>
        </div>
    
    </div>
</div>