<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 p-0">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1 class="text-center mb-3 cb"> Entrar</h1>

                    <div class="form-group cb fs">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]='userLogin.email' class="form-control mb-2" type="text" id="usuario" placeholder="Seu usuário">
                    </div>
                    <div class="form-group mb-4 cb fs">
                        <label for="senha">Senha</label>
                        <input [(ngModel)]='userLogin.senha' class="form-control" type="password" id="senha" placeholder="Digite sua Senha">
                    </div>
    
                    <div class="d-flex justify-content-center">
                        <button (click)='entrar()' class="btn btn-success" type="submit">Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">
                    <p class="text-center">Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a></p>
                
                </div>
            </div>
        </div>

        <div class="col-md-6 sombra" id="img-bg">
            <div class="row fundo"></div>
        </div>
    
    </div>
</div>