#img-bg {
  background-image: url('../../assets/img/entrar.jpg');
  height: 40rem;
  min-width: 33rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.cb {
  color: #59B9B3;
}

.fs {
  font-size: 14pt;
}

.fundo {
  background-color: #59B9B3;
  height: 40rem;
  min-width: 33rem;
  opacity: 0.5;
}