.card {
  cursor: pointer;
}

#card-cat {
  background-color: rgb(76, 155, 69);
  color: white;
}

#card-ong {
  background-color: lightcoral;
  color: white;
}

#card-cont {
  background-color: lightseagreen;
  color: white;
}
