<div class="container-fluid mb-5 mt-5">

    <div class="row mb-5">
        <h2 class="d-flex align-items-center justify-content-around">Area Restrita para Administradores</h2>
        <h4 class="d-flex align-items-center justify-content-around">Do que você deseja tratar?</h4>
    </div>

    <div class="row justify-content-around">
        
        <div class="card mb-3" routerLink="/categoria-inserir" id="card-cat" style="width: 15rem; height: 10rem;">
            <div class="card-body text-center">
                <h2 class="card-title mb-4 ">Categorias</h2>
                <p>Faça novas inserções, Edite ou Remova</p>
            </div>
        </div>

        <div class="card  cardcolor mb-3" id="card-ong" routerLink="/ong-inserir" style="width: 15rem; height: 10rem;">
            <div class="card-body text-center">
                <h2 class="card-title mb-4">Ongs</h2>
                <p>Faça novas inserções, Edite ou Remova</p>
            </div>
        </div>

        <div class="card  cardcolor mb-3" id="card-cont" style="width: 15rem; height: 10rem;">
            <div class="card-body text-center">
                <h2 class="card-title mb-4">Contatos</h2>
                <p>Veja quem entrou em contato!</p>
            </div>
        </div>

    </div>

</div>