.imgOng{
    width: 32rem;
    height: 18rem;
    max-width: 34rem;
    max-height: 18rem;
}

.imgQR{
    width: 11rem;
    height: 11rem;
    max-width: 15rem;
    max-height: 15rem;

}

.container-fluid{
    background-color: #F1F5F6;
}

.col-1{
    background-color: white;
    border-radius: 5px;
}

.col-faixa{
    background-color: rgba(0, 0, 0, 0.938);
    color: #59B9B3;
}

.cor-tema{
    color: #59B9B3;
}
.cor-w{
    background-color: white;
}

ul{
    list-style: none    
}
ul li{
    display: inline;
    padding: 2rem;
}

.fa-facebook-official{
    color: rgb(42, 42, 187);
}

.fa-twitter{
    color: rgb(55, 215, 255);
}

.fa-whatsapp{
    color: rgb(41, 201, 41);
}

.share{
    margin-left: 1rem;
}