<mat-card>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput name="email" ngModel #emailInput="ngModel" type="email" placeholder="Email" required email>
            <mat-error *ngIf="emailInput.invalid">Digite um email válido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password" #passwordInput="ngModel" ngModel type="password" placeholder="Senha"
                required>
            <mat-error *ngIf="passwordInput.invalid">Senha inválida</mat-error>
        </mat-form-field>
        <!-- <mat-form-field id="admin">
            <input matInput name="admin" #passwordInput="ngModel" ngModel type="text" >
        </mat-form-field> -->
        <button class="w-100 cb" mat-raised-button type="submit">Login</button>
        <div class="d-flex justify-content-center">
            <button class=" cbv mt-2 w-50" mat-raised-button type="submit" routerLink='/'>Volte ao Site</button>

        </div>

    </form>
</mat-card>