<div class="container-fluid mt-5">
    <div class="row estilo justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4 text-center">Inserção de Ongs</h2>
            <mat-card>
                <form (submit)="onSalvarOng(ongForm)" #ongForm="ngForm">

                    <mat-form-field class="grupo1">
                        <input required minlength="4" type="text" matInput placeholder="nome" name="nome" [ngModel]="ong?.nome" ngModel />
                        <mat-error> Digite um Nome Válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="grupo2">
                        <input required email type="text" matInput placeholder="email" name="email" [ngModel]="ong?.email" ngModel />
                        <mat-error> Digite um Email Válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="grupo1">
                        <input required type="text" matInput placeholder="cnpj" name="cnpj" [ngModel]="ong?.cnpj" ngModel />
                        <mat-error> Digite um CNPJ Válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="grupo2">
                        <input type="text" matInput placeholder="telefone" name="telefone" [ngModel]="ong?.telefone" ngModel />
                        <mat-error> Digite um telefone válido</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input required type="text" matInput placeholder="endereço" name="endereco" [ngModel]="ong?.endereco" ngModel />
                        <mat-error> Digite um endereço válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="grupo1">
                        <input  type="text" matInput placeholder="linkFoto1" name="foto" [ngModel]="ong?.foto" ngModel />
                        <mat-error> Digite um link válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="grupo2">
                        <input  type="text" matInput placeholder="link foto QRcode" name="qrcode" [ngModel]="ong?.qrcode" ngModel />
                        <mat-error> Digite um link válido</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input required type="text" matInput placeholder="Descrição" name="descricao" [ngModel]="ong?.descricao" ngModel />
                        <mat-error> Digite uma descrição válida</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Selecione uma Categoria</mat-label>
                        <mat-select required type="text" name="categoria" [ngModel]="ong?.categoria" ngModel >
                            <mat-option  *ngFor="let categoria of categorias"
                                [value]="categoria.nome">
                                {{categoria.nome}}
                            </mat-option>
                        </mat-select>
                        <mat-error> Selecione uma categoria</mat-error>
                    </mat-form-field>

                    <button class="w-100 btn-salvar" mat-raised-button>Salvar Ong</button>

                </form>
            </mat-card>
        </div>
    </div>
</div>

<div class="container-fluid mb-4 mt-2">
    <div class="row estilo justify-content-center">
        <div class="col-md-8">
            <app-ong-lista></app-ong-lista>
        </div>
    </div>
</div>