<div class="container-fluid mt-5">
    <div class="row estilo justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4 text-center">Inserção de Categoria para as Ongs</h2>
            <mat-card>
                <form (submit)="onSalvarCategoria(categoriaForm)" #categoriaForm="ngForm">
                <mat-form-field>
                    <input required minlength="4"  type="text" matInput placeholder="Digite uma nova categoria" name="nome" [ngModel]="categoria?.nome" ngModel #nome="ngModel"/>
                    <mat-error *ngIf="nome.invalid">Digite um nome válido</mat-error>
                </mat-form-field>
                <button class = "w-100 btn-salvar" mat-raised-button>Salvar Categoria</button>
            </form>
            </mat-card>
        </div>
    </div>
</div>

<div class="container-fluid mb-4 mt-2">
    <div class="row estilo justify-content-center">
        <div class="col-md-8">
            <app-categoria-listar></app-categoria-listar>
        </div>
    </div>
</div>


