
.banner{
    padding: 0;
}

.text-banner{
    margin-top: -26rem;
    font-size: 5rem;
    padding: 2rem;
    background-color: rgba(17, 17, 17, 0.486);
}

.card-ong{
    cursor: pointer;
    border-radius: 25%;
}

#dados{
background-color: rgb(26, 153, 111);
}

.f-branco{
    color: whitesmoke;
}

.ico-amarelo{
    color: rgba(247, 224, 15, 0.89);
}

.ico-vermelho{
    color: rgba(245, 55, 55, 0.877);
}

.ico-roxo{
    color: rgba(216, 86, 216, 0.877);
}

.cardcolor{
    background-color: #173169;
}

.jumbotron{
    background-color: #000000cc;
}

.btn-jumbotron{
    background-color: #eb8e23;
    color: white;
}

.jum-contato{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
