<!-- Página Incial -->

<!--Inicio Carousel-->
<div class="container-fluid p-0">
    <div class="row banner">
        <img src="../../assets/img/banner-1.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-5 mt-5">
        <h1 class="text-white text-center text-banner">Doe e Salve Vidas</h1>
    </div>
</div>

<!--Fim Carousel-->


<!--Inicio Como Funfiona-->
<!--Testo como funciona e abaixo cards contendo as instruções para os usuarios-->
<div class="container-fluid p-0" id="comofunciona">
    <div class="row">
        <h2 class="text-center">Como funciona o Guia ONG?</h2>
    </div>

    <div class="row justify-content-around text-center mt-5">
        <div class="col-md-3 mb-5">
            <i class="fa fa-lightbulb-o fa-5x mb-1 ico-amarelo" aria-hidden="true"></i>
            <h3 class="mb-2">A Ideia</h3>
            <p>Em meio a toda essa pandemia, nós visamos o maior alcance de campanhas que ja existem, mas
                que por ventura, não conseguiram chegar até você.</p>
        </div>
        <div class="col-md-3 mb-5">
            <i class="fa fa-heart fa-5x mb-1 ico-vermelho" aria-hidden="true"></i>
            <h3 class="mb-2">Doações</h3>
            <p>Toda doação feita por você é transformada em um sorriso, em um abraço, e tudo aquilo de mais
                importante que as pessoas precisam, Amor.</p>
        </div>
        <div class="col-md-3 mb-5">
            <i class="fa fa-bullhorn fa-5x mb-1 ico-roxo" aria-hidden="true"></i>
            <h3 class="mb-2">Compartilhe</h3>
            <p>A cada nova pessoa que conhece o nosso trabalho, muita gente pode ser beneficiada, nos ajude
                a ajudar quem mais precisa.</p>
        </div>
    </div>
</div>
<!--Fim Como Funfiona-->

<!--Inicio ONGs-->
<!--Titulo : Algumas ONGs ou Conheça algumas ONGs e abaixo, 3 ou 4 cards contendo informações de algumas ongs com um botão bem grande de DOAR
abaixo botão ver mais (direciona para todas as ongs)-->
<div class="container-fluid mt-3">
    <div class="row mb-5">
        <h2 class="d-flex align-items-center justify-content-around">Conheça algumas de nossas ONGs</h2>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
        <div class="card card-ong text-white cardcolor mb-3" [routerLink]="['/ong', ong.id]" style="width: 18rem; height: 18rem;" *ngFor="let ong of ongs">
            <div class="card-body text-center">
                <h2 class="card-title mb-4">{{ong.nome}}</h2>
                <p class="card-text">{{ong.descricao}}</p>
            </div>
        </div>
    </div>
</div>

<!--Fim ONGs-->

<!--Inicio Faixa Dados-->
<!--Faixa pequena com talvez 3 colunas com alguns dados sobre as doações, lares alcançados, coisas do tipo-->

<div class="container-fluid">
    <div class="row justify-content-around text-center align-items-center mt-5" id="dados">
        <div class="col-md-3 p-4">
            <i class="fa fa-globe fa-4x f-branco" aria-hidden="true"></i>
            <h3 class="f-branco ">Mais de 50 MIL <br> Famílias alcançadas</h3>
        </div>
        <div class="col-md-4 p-4">
            <h3 class="mb-2 f-branco ">Doe de qualquer lugar <br>A qualquer hora</h3>
        </div>
        <div class="col-md-3 p-4">
            <h3 class="mb-3 f-branco">Transformando Vidas!</h3>
            <i class="fa fa-recycle fa-3x f-branco mb-2" aria-hidden="true"></i>
        </div>
    </div>
</div>
<!--Fim Faixa Dados-->



<!--Inicio Resumo Sobre Nós-->
<!--Breve resumo sobre o projeto e talvez algumas fotos sobre o que fazemos e um botão  que direciona para o Sobre Nós-->
<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <div class="jumbotron">
                <h2 class="display-4 text-white mb-5">Conheca um pouco mais sobre a gente!</h2>
                <p class="lead text-white">O Guia ONG nasceu com o intuito de dar visibilidade àqueles que merecem e que
                    por algum motivo não tem o acesso ou não conseguiram dar uma maior visibilidade para seu super
                    projeto.</p>
                <p class="text-white">Em caso de dúvidas entre em contato através do <a class="jum-contato"
                        routerLink='/contato'>Contato</a></p>
                <a class="btn btn-lg btn-jumbotron mt-4 justify-content-center d-flex align-items-center" role="button"
                    routerLink='/sobre'>Saiba mais!</a>
            </div>
        </div>
    </div>
</div>
<!--Fim Resumo Sobre Nós-->