<!--Inicio Carousel-->
<div class="container-fluid p-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/img/banner-1.jpg" alt="Primeiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Doe e salve Vidas</h2>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Segundo Slide"
                        alt="Segundo Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>...</h5>
                        <p>...</p>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Terceiro Slide"
                            alt="Terceiro Slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fim Carousel-->


<!--Inicio Como Funfiona-->
<!--Testo como funciona e abaixo cards contendo as instruções para os usuarios-->
<div class="container-fluid p-0">
    <div class="row">
        <h2 class="text-center mt-5 mb-4">Como funciona o Guia ONG?</h2>
    </div>

    <div class="row justify-content-around text-center mt-5">
        <div class="col-md-3 mb-5">
            <i class="fa fa-lightbulb-o fa-5x mb-1" aria-hidden="true"></i>
            <h3 class="mb-2">A Ideia</h3>
            <p>Em meio a toda essa pandemia, nós visamos o maior alcance de campanhas que ja existem, mas
                que por ventura, não conseguiram chegar até você.</p>
        </div>
        <div class="col-md-3 mb-5">
            <i class="fa fa-heart fa-5x mb-1" aria-hidden="true"></i>
            <h3 class="mb-2">Doações</h3>
            <p>Toda doação feita por você é transformada em um sorriso, em um abraço, e tudo aquilo de mais
                importante que as pessoas precisam, Amor.</p>
        </div>
        <div class="col-md-3 mb-5">
            <i class="fa fa-bullhorn fa-5x mb-1" aria-hidden="true"></i>
            <h3 class="mb-2">Compartilhe</h3>
            <p>A cada nova pessoa que conhece o nosso trabalho, muita gente pode ser beneficiada, nos ajude
                a ajudar quem mais precisa.</p>
        </div>
    </div>
</div>
<!--Fim Como Funfiona-->

<!--Inicio ONGs-->
<!--Titulo : Algumas ONGs ou Conheça algumas ONGs e abaixo, 3 ou 4 cards contendo informações de algumas ongs com um botão bem grande de DOAR
abaixo botão ver mais (direciona para todas as ongs)-->
<!--Fim ONGs-->

<!--Inicio Faixa Dados-->
<!--Faixa pequena com talvez 3 colunas com alguns dados sobre as doações, lares alcançados, coisas do tipo-->

<div class="container-fluid">
    <div class="row justify-content-around text-center align-items-center mt-5" id="dados">
        <div class="col-md-3 p-4">
            <i class="fa fa-globe fa-4x f-branco" aria-hidden="true"></i>
            <h3 class="f-branco ">Mais de 50 MIL <br> Famílias alcançadas</h3>
        </div>
        <div class="col-md-4 p-4">
            <h3 class="mb-2 f-branco ">Doe de qualquer lugar <br>A qualquer hora</h3>
        </div>
        <div class="col-md-3 p-4">
            <h3 class="mb-3 f-branco">Transformando Vidas!</h3>
            <i class="fa fa-recycle fa-3x f-branco mb-2" aria-hidden="true"></i>
        </div>
    </div>
</div>


<!--Fim Faixa Dados-->



<!--Inicio Resumo Sobre Nós-->
<!--Breve resumo sobre o projeto e talvez algumas fotos sobre o que fazemos e um botão  que direciona para o Sobre Nós-->
<!--Fim Resumo Sobre Nós-->