<mat-card>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" >
        <mat-form-field>
            <input matInput name="email" ngModel #emailInput="ngModel" type="email" placeholder="Email" required email>
            <mat-error *ngIf="emailInput.invalid">Digite um email válido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password" #passwordInput="ngModel" ngModel type="password" placeholder="Senha"
                required>
            <mat-error *ngIf="passwordInput.invalid">Senha inválida</mat-error>
        </mat-form-field>
        <button class="w-100" mat-raised-button color="accent" type="submit">Cadastrar</button>
    </form>
</mat-card>