<!-- Tela onde mostrará todas as ongs cadastradas no site -->
<div class="container-fluid p-0">
    <div class="row banner">
        <img src="https://i.imgur.com/GBdT5fr.jpg" alt="">
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-5">
        <h1 class="text-white text-center text-banner">Doe e Salve Vidas</h1>
    </div>
</div>

<div class="container-fluid mt-1">  

    <div class="row mb-5" style="background-color: rgb(226, 116, 43);">
        <h2 class="d-flex align-items-center text-white justify-content-around mt-5 mb-5" >Conheça algumas de nossas ONGs</h2>
    </div>

    <div class="row d-flex align-items-center justify-content-around">

        <div class="card cardcolor mb-4 mt-3 mr-2" style="width: 16rem; height: 16rem;" [routerLink]="['/ong', ong.id]" *ngFor="let ong of ongs">
            <div class="card-body text-center">
                <h2 class="card-title mt-5">{{ong.nome}}</h2>

                <!-- <button class = "w-100 btn-doar" mat-raised-button>Conheça Mais</button> -->
            </div>
        </div>

    </div>
</div>