.card {
  cursor: pointer;
  border-radius: 25%;
}

.btn-doar {
  background-color: #59B9B3;
  color: white;
}

.cardcolor{
  background-color: #59b9b29f;
}

.text-banner{
  margin-top: -55rem;
  padding: 2rem;
  font-size: 5rem;
  background-color: rgba(221, 155, 11, 0.822);
  color: white;
  
}