<mat-accordion>
    <mat-expansion-panel *ngFor="let ong of ongs">
        <mat-expansion-panel-header>{{ong.nome}}</mat-expansion-panel-header>
        <div class="row">
            <div class="col-md-6"><p>Categoria: {{ong.categoria}}</p></div>
            <div class="col-md-6"><p>CNPJ: {{ong.cnpj}}</p></div>
        </div>   
        <div class="row">
            <div class="col-md-6"> <p>Email: {{ong.email}}</p></div>
            <div class="col-md-6"> <p>Telefone: {{ong.telefone}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngIf="ong.foto !== null  "> <p>Foto: Possui Foto</p></div>
            <div class="col-md-6" *ngIf="ong.qrcode !== null "> <p>QRCODE: Possui QRCODE </p></div>
            <div class="col-md-6" *ngIf="ong.foto == null "> <p>Foto: Não Possui Foto</p></div>
            <div class="col-md-6" *ngIf="ong.qrcode == null "> <p>QRCODE: Não Possui QRCODE </p></div>
        </div>
        <p>Endereço: {{ong.endereco}}</p>
        <p>Descrição: {{ong.descricao}}</p>
        <mat-action-row>
            <button mat-button color="primary" [routerLink]="['/ong-editar', ong.id]">EDITAR</button>
            <button mat-button color="warn" (click)="onDelete(ong.id)">REMOVER</button>
        </mat-action-row>
   
    </mat-expansion-panel>
</mat-accordion>

<p *ngIf="ongs.length <= 0" style="text-align: center;" >
    Nenhuma Ong cadastrado :(
</p>

