<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item">
                <i class="fa fa-user-circle-o ico-user" aria-hidden="true"></i>
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold fs-14 " id="nomeUser">Olá, Nome User
                    <!--{{nome}}-->
                </p>
            </li>
            <li class="nav-item pl-3">
                <!--<a class="fs-14 text-white" [routerLink]="['/user-edit', id]"> -->
                <a class="fs-14">
                    <i class="fa fa-pencil-square-o ml1" aria-hidden="true"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav m-auto d-flex align-items-center">
            <li class="nav-item p-3">
                <p class="m-0 font-weight-bold fs-14 " id="nomeUser">Como Funciona
                    <!--{{nome}}-->
                </p>
            </li>

            <li class="nav-item p-3">
                <p class="m-0 font-weight-bold fs-14 " id="nomeUser">Quem Somos
                    <!--{{nome}}-->
                </p>
            </li>

            <li class="nav-item p-3">
                <p class="m-0 font-weight-bold fs-14 " id="nomeUser">Ajuda
                    <!--{{nome}}-->
                </p>
            </li>

            <li class="nav-item p-3">
                <p class="m-0 font-weight-bold fs-14 " id="nomeUser">Minha Conta
                    <!--{{nome}}-->
                </p>
            </li>

            <li class="nav-item p-3">
                <p class="m-0 font-weight-bold fs-14 " id="nomeUser">Minhas Doações
                    <!--{{nome}}-->
                </p>
            </li>
        </ul>

        <ul class="navbar-nav m-auto">
            <li>
                <!-- <a class="text-white fs-14" (click)='sair()'>Sair <i class="fa fa-sign-out" aria-hidden="true"></i> -->
                <a class=" fs-14 m-1">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>