<!-- Página onde mostrará algumas doações no geral e possibilitará o usuario de ver as doações dele -->
<div class="container-fluid p-0">
    <img src="../../assets/img/doacao-alimento.jpg" class="img-fluid img-doacao" alt="Imagem responsiva">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5 mb-3">
            <h2 class="d-flex justify-content-center">Sobre o quanto você já ajudou!</h2>
        </div>
    </div>
    <div class="row">

        <div class="row d-flex align-items-center justify-content-around" *ngIf='auth.userLogado()'>
            <div class="card text-white cardcolor mb-3" style="width: 18rem; height: 18rem;"
                *ngFor="let item of doacao">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">{{item.nome}}</h2>
                    <p class="card-text">{{item.descricao}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5 mb-5" *ngIf='auth.userNLogado()'>
            <h2 class="d-flex justify-content-center mb-3">Você ainda não está logado ou não criou uma conta com a gente :(</h2>

            <h5 class="d-flex justify-content-center mr-5">Se você já tem uma conta, acesse <a routerLink='/entrar'> Login </a></h5>
            <h5 class="d-flex justify-content-center">Se você deseja se cadastrar, acesse aqui! <a routerLink='/cadastrar'> Cadastre-se</a></h5>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5 ">
            <h2 class="d-flex justify-content-center">Conheça um pouco mais sobre as doaçoes realizadas</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9">

            <div class="card-columns">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/doacao.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
                        <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como
                            uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                    </div>
                </div>
                <div class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                            introdução a um conteúdo adicional.</p>
                    </div>
                </div>
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                        <footer class="blockquote-footer">
                            <small>
                                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card text-center">
                    <img class="card-img-top" src="../../assets/img/doacao.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                            introdução a um conteúdo adicional.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="../../assets/img/doacao-roupa.jpg" alt="Imagem do card">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                            introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro,
                            para mostrar a altura igual, em ação.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

