<!-- Tela de cadastro do usuario para login -->

<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-7 sombra " id="img-bg">
            <div class="row fundo"></div>
        </div>

        <div class="col-md-5 p-0 ml-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9 ml-5">

                    <h1 class="text-center mb-3 mt-5 cb">Cadastre-se</h1>
<!--
                    <div class="form-group cb fs">
                        <label for="usuario">Nome</label>
                        <input [(ngModel)]='user.nome' class="form-control mb-2" type="text" id="usuario" placeholder="Seu usuário">
                    </div>
                    <div class="form-group cb fs">
                        <label for="email">Email</label>
                        <input [(ngModel)]='user.email' class="form-control mb-2" type="email" id="email" placeholder="Seu Email">
                    </div> 

                  -->

                    <!-- inicio do comentario  -->
                    <!-- 
                    <div class="form-group cb fs">
                        <label for="cnpj">CNPJ</label>
                        <input [(ngModel)]='userOng.cnpj' class="form-control mb-2" type="text" id="cnpj" placeholder="Seu CNPJ">
                    </div>

                    <div class="form-group cb fs">
                        <label for="descriicao">Insira aqui uma descrição sobre sua ONG</label>
                        <textarea [(ngModel)]='userOng.descricao' class="form-control mb-2" id="descricao" rows="3"
                            placeholder="Sua Descrição aqui"></textarea>
                    </div>

                    <div class="form-group cb fs">
                        <label class="form-group cb fs" for="descriicao">Insira seu endereço</label>
                        <input [(ngModel)]='userOng.rua' type="text" class="form-control" placeholder="Rua">
                    </div>
                    <div class="form-row d-flex mt-2 mb-3">
                        <div class="col-7">
                            <input [(ngModel)]='userOng.cidade' type="text" class="form-control pr-1" placeholder="Cidade">
                        </div>
                        <div class="col ">
                            <input [(ngModel)]='userOng.estado' type="text" class="form-control" placeholder="Estado">
                        </div>
                        <div class="col">
                            <input [(ngModel)]='userOng.cep' type="text" class="form-control" placeholder="CEP">
                        </div>
                    </div>

                    <div class="form-group cb fs mb-2">
                        <label for="tipo">Tipo de Categoria</label>
                        <select (change)='tipoOng($event)' class="form-control" name="tipo" id="tipo">
                            <option value="fome">Fome</option>
                            <option value="frio">Frio</option>
                            <option value="criancas">Crianças</option>
                        </select>
                    </div> --> <!-- fim do comentario  -->

                    <!-- <div class="form-group mt-3 cb fs">
                        <label for="senha">Senha</label>
                        <input (input)='confirmaSenha($event)'  class="form-control" type="password" id="senha" placeholder="Digite sua Senha">
                    </div>

                    <div class="form-group mb-3 cb fs">
                        <label for="senha">Confirme sua senha</label>
                        <input [(ngModel)]='user.senha' class="form-control" type="password" id="senha" placeholder="Confirme sua Senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="m-1">
                            <button type="submit" class="btn btn-danger" routerLink='/entrar'>Cancelar</button>
                        </div>
                        <div class="m-1">
                            <button (click)='cadastrar()' type="submit" class="btn btn-success" >Cadastrar</button>
                        </div>
                      </div> -->
                      <mat-card>
                        <form [formGroup]="form" (submit)="onAdicionarUsuario()">
                      <!--
                          <mat-form-field>
                            
                            <mat-label>Tipo de Pessoa</mat-label>
                            <mat-select required value="tipo" matInput name="tipo" type="text" ngModel #tipo="ngModel">
                              <mat-option required value="Física">Física</mat-option>
                              <mat-option required value="Jurídica">Jurídica</mat-option>
                            </mat-select>
                            <mat-error *ngIf="tipo.invalid">Escolha um tipo de pessoa</mat-error>
                          </mat-form-field>
                        -->
                          <!-- Nome e data de Nascimento -->
                          <mat-form-field class=""> 
                            <input type="text" 
                            matInput
                            formControlName="nome" 
                            placeholder="Nome Completo" 
                            name="nome"/>
                            <mat-error *ngIf="form.get('nome')">Nome com no minimo 3 caracteres
                              
                            </mat-error>
                          </mat-form-field>
                          
                          <!-- 
                          <mat-form-field class="grupo2">
                            <mat-label>Data de Nascimento</mat-label>
                            <input required matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="dataNascimento" ngModel
                              #dataNascimento="ngModel">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                         -->
                      
                          <!-- Numero e CPF 
                          <mat-form-field class="grupo1">
                            <input required minlength="11" type="text" matInput placeholder="Telefone" name="fone" ngModel #fone="ngModel" />
                            <mat-error *ngIf="fone.invalid">Digite um telefone válido</mat-error>
                          </mat-form-field>
                      
                          <mat-form-field class="grupo2">
                            <input required minlength="11" type="cpf" matInput placeholder="CPF ou CNPJ" name="cpf" ngModel #cpf="ngModel" />
                            <mat-error *ngIf="cpf.invalid">Não é necessario numeros e traços</mat-error>
                          </mat-form-field> -->
                      
                          <!-- Agrupar email e Confirme seu email -->
                          <mat-form-field class="">
                            <input 
                            type="text" 
                            matInput 
                            formControlName="email"
                            placeholder="E-mail" 
                            name="email" ngModel/>
                            <mat-error *ngIf="form.get('email')">Digite um email válido</mat-error>
                          </mat-form-field>
                      
                          <mat-form-field class="">
                            <input type="text" 
                            matInput 
                            formControlName="confirmeEmail"
                            placeholder="Confirme seu E-mail" 
                            name="confirmeEmail"/>
                            <mat-error *ngIf="form.get('confirmeEmail')">Digite um email válido</mat-error>
                          </mat-form-field>
                      
                          <!-- Campo unico CEP  
                          <mat-form-field>
                            <input required minlength="5" type="text" matInput placeholder="Digite seu CEP" name="cep" ngModel
                              #cep="ngModel" />
                            <mat-error *ngIf="cep.invalid">Digite seu CEP com 5 digitos</mat-error>
                          </mat-form-field> -->
                      
                          <!-- Agrupar Lagradouro e Numero
                          <mat-form-field class="grupo1">
                            <input required minlength="2" type="text" matInput placeholder="Lagradouro" name="lagradouro" ngModel
                              #lagradouro="ngModel" />
                            <mat-error *ngIf="lagradouro.invalid">Digite avenida, rua, travessa</mat-error>
                          </mat-form-field>
                      
                          <mat-form-field class="grupo2">
                            <input required minlength="2" type="text" matInput placeholder="Numero" name="numero" ngModel #numero="ngModel" />
                            <mat-error *ngIf="numero.invalid">Digite pelo menos 2 numeros</mat-error>
                          </mat-form-field> -->
                      
                          <!-- Agrupar Complemento e Bairro 
                          <mat-form-field class="grupo1">
                            <input type="text" matInput placeholder="Complemento" name="complemento" ngModel #complemento="ngModel" />
                          </mat-form-field>
                      
                          <mat-form-field class="grupo2"> 
                            <input required minlength="2" type="text" matInput placeholder="Bairro" name="bairro" ngModel #bairro="ngModel" />
                            <mat-error *ngIf="bairro.invalid">Digite com bairro no minimo duas letras</mat-error>
                          </mat-form-field> -->
                      
                          <!-- Agrupar UF e Cidade
                      
                          <mat-form-field class="grupo1">
                            <mat-label>UF</mat-label>
                            <mat-select required value="uf" matInput name="uf" type="text" ngModel #tipo="ngModel">
                              <mat-option required *ngFor="let uf of ufs" [value]="uf.value">
                                {{uf.viewValue}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="tipo.invalid">Digite um email válido</mat-error>
                          </mat-form-field>
                      
                          <mat-form-field class="grupo2">
                            <input required minlength="5" type="text" matInput placeholder="Cidade" name="cidade" ngModel #cidade="ngModel" />
                            <mat-error *ngIf="cidade.invalid">Digite um numero</mat-error>
                          </mat-form-field> -->
                        
                          <!-- Agrupar -->
                          <!-- Até aqui SENHA E CONFIRME SUA SENHA-->
                          
                      
                            <mat-form-field class="grupo1">
                              <mat-label>Escolha sua senha</mat-label>
                              <input 
                              matInput [type]="hide ? 'password' : 'text'"
                              value="senha"
                              formControlName="senha" 
                              name="senha">
                      
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      
                              </button>
                               <mat-error *ngIf="form.get('senha')">As senhas digitadas estão diferentes</mat-error>
                            </mat-form-field>
                      
                      
                            <mat-form-field class="grupo2">
                              <mat-label>Repetir sua senha</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'"  value="repetirSenha"
                              formControlName="repetirSenha" 
                              name="repetirSenha">
                      
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                      
                              <mat-error *ngIf="form.get('repetirSenha')">As senhas digitadas estão diferentes</mat-error> 
                            </mat-form-field>
                      
                            <br>
                            <br>
                          
                          <button class = "button btn-cadastrar"  mat-raised-button >
                            Cadastrar
                          </button>
                        </form>
                      </mat-card>

                    <p class="text-center mt-3">Já tem um cadastro? <a routerLink='/entrar'>Volte ao Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>