<!-- Tela de cadastro do usuario para login -->

<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-7 sombra " id="img-bg">
            <div class="row fundo"></div>
        </div>

        <div class="col-md-5 p-0 ml-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9 ml-5">

                    <h1 class="text-center mb-3 mt-5 cb">Cadastre-se</h1>

                    <div>
                      <app-signup></app-signup>
                    </div>


                    <p class="text-center mt-3">Já tem um cadastro? <a routerLink='/entrar'>Volte ao Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>