<div class="container-fluid d-flex justify-content-center">
  <mat-accordion *ngIf="enviado == false">
    <h1 class="text-center mt-5 mb-4 cb"> Entre em contato conosco!</h1>
    <div class="col-md-12 d-flex justify-content-center">
      <mat-card>
        <form [formGroup]="form" (submit)="onEnviar()">

          <div class="row d-flex justify-content-center">

            <mat-form-field class="">
              <input type="text" matInput formControlName="nome" placeholder="Nome Completo" name="nome" />
              <mat-error *ngIf="form.get('nome')">Nome com no minimo 3 caracteres

              </mat-error>
            </mat-form-field>

            <mat-form-field class="">
              <input type="text" matInput formControlName="email" placeholder="Email@email.com" name="email" />
              <mat-error *ngIf="form.get('email')">Email obrigatorio
              </mat-error>
            </mat-form-field>

            <mat-form-field class="">
              <input type="text" matInput formControlName="assunto" placeholder="Sugestão, Reclamação ou Suporte"
                name="assunto" />
              <mat-error *ngIf="form.get('assunto')">Assunto obrigatório
              </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
              <mat-label>Deixe sua mensagem, critica ou reclamação</mat-label>
              <textarea matInput formControlName="mensagem" placeholder="Insera sua mensagem"
                name="mensagem"></textarea>
              <mat-error *ngIf="form.get('mensagem')">Mensagem com no minimo 30 caracteres
              </mat-error>
            </mat-form-field>


            <button mat-button color="primary" class="button">Enviar</button>
          </div>
          <br>
        </form>
      </mat-card>
    </div>


  </mat-accordion>

  <mat-accordion class="mensagemenviada mt-5 mb-5" *ngIf="mensagemCarregando == true">

    <h1 class="text-center mb-3 cb mensagem">Sua mensagem foi enviada com sucesso!</h1>

  </mat-accordion>
</div>