.mensagemenviada{
  height: 25rem; 
}

.mensagem{
  margin-top: 9rem;
}

mat-form-field, input {
    width: 70%;
  }
  
  mat-card {
    display: "center";
  }

  .cb {
    color: #59B9B3;
  }
  
  .fs {
    font-size: 14pt;
  }
  
  .button {
    background-color: #59B9B3; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 35%;
  }